body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 16px;

}

h2 {
    text-align: center;
    color:rgb(8, 78, 4);
}

.img {
    text-align: center;
}

.img img:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);

}

.video {
    text-align: center;
}

/*NAVIGATION*/
.nav {
    text-align: center;
    padding: 12px;
    background-color: rgb(255, 255, 255);


}

#hove:hover {
    background-color: rgb(26, 93, 39);
    color: rgb(255, 254, 254);
}

.home {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin: bottom 10px;

}

.spec {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin: bottom 10px;


}

.product {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin: bottom 10px;

}

.contact {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-size: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin: bottom 10px;

}

/*mobile*/
@media (max-width: 767px) {
    .nav nav {
        flex-direction: column;
        align-items: center;
    }

    body {
        font-size: 14px;
    }
}

/* Tablet (768px – 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 16px;
    }
}

/*Laptop or PC (≥ 992px) */
@media (min-width: 992px) {
    body {
        font-size: 18px;
    }
}

/*CONTACT*/
.form {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.heading {
    text-align: center;
}

.form form {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;

}

/*SUBMIT*/
input[type="submit"] {
    background-color: #335cc4;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;


}

input[type="submit"]:hover {
    background-color: #000dff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
}

/*footer*/
.footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
}