/*BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    color: #1A1A1A;
    line-height: 1.6; /*distance btn lines*/
}

/* HEADER*/
.header {
    background-color: black;
    color: white;/*text color white*/
    text-align: center;
    padding: 20px;
}

/* NAVIGATION & HOVER*/
.navbar {
    margin-top: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: gray;
}

/*Main Container*/
.container {
    max-width: 1000px;/*prevents content from stretching too wide*/
    margin: auto;/* Adds equal space on left and right. */
    padding: 25px;
}

/*Sections spacing */
section {
     margin-bottom: 40px; 
}

/* PARAGRAPH */
.paragraph {
    text-align: justify;
    margin-top: 15px;
}


/* IMAGE  */
.image{
    width: 100%;
    max-width: 450px;
    height: 300px;
    object-fit: cover;
    display: block;/*occupies whole space,send other img to next line*/
    margin: 20px auto;/*left rignt auto*/
    border-radius: 10px;
}

/* TABLE */
.spec-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.spec-table th {
    background: black;
    color: white;
    padding: 12px;
}

.spec-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

/* BUTTON */
.btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background: gray;
}

/*CONTACT*/
.contact-form{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.form-input{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*footer*/
.footer{
    background-color: #000;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.footer-content{
    max-width: 800px;
    margin: auto;
}

.footer h3{
    margin-bottom: 15px;
}

.icons{
    margin: 15px 0;
    
}

.icons img{
    width: 60px;
    margin: 0 20px;
    transition: 0.3s;
    
}

.icons img:hover{
    transform: scale(1.5);
}

.footer a{
    color: #00bfff;
    text-decoration: none;
}

